@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

:root {
  --bg: #03045e;
  --primary: #0077b6;
  --secondary: #90e0ef;
  --light: #f2f2f2;
  --dark: #353535;
  --red: #F98B88;
  --green: #B6E388;
}

/* BASIC RESET */

html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-family: 'Rubik', sans-serif;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* Utilities */
.Divider {
  width:30%;
  background: var(--secondary);
  height: 2px;
  border-radius: 50px;
  margin: 1rem auto;
}

.Btn {
  color: white;
  background: var(--primary);
  border: none;
  padding: 10px 20px;
  margin-left: 10px;
  border-radius: 5px;
}

/* App Styles */

.App {
  background: var(--bg);
  width: 100vw;
  height: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Container {
  background: var(--light);
  width: 80%;
  max-width: 800px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 100px auto;
}

/* Heading Styles */

.MainHeading {
  font-size: 3rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
  color: var(--primary)
}

/* AddTodos */
.AddTodos {
  background: white;
  width: 90%;
  padding: 20px;
  margin: 1rem;
  margin-top: 20px;
  border-radius: 5px;
}

.FormField {
  width: 100%;
  display: flex;
  margin: 20px auto;
}

.FormField__Input {
  flex: 1;
  padding: 10px;
}

.FormField__Input:focus {
  border: 1px solid var(--red)
}

.FormField__Button {
  font-size: 1rem;
}

/* Todo List */

.TodoList {
  margin: 50px;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.TodoList__Heading {
  font-size: 1.6rem;
  color: var(--dark);
  margin: 1rem auto;
}

/* Single Todo Item */
.TodoItem {
  position: relative;
  display: flex;
  margin: 10px;
  padding: 20px;
  background: white;
  width: 90%;
  text-align: left;
  animation: ZoomIn .2s ease-out;
}

.TodoItem__Text {
  flex: 1;
}

.TodoItem__Status {
  margin-right: 10px;
}

.TodoItem__Status:hover {
  cursor: pointer;
  opacity: .6;
}

.TodoItem__Status--uncomplete {
  color: var(--red) 
}

.TodoItem__Status--complete {
  color: var(--green) 
}

.TodoItem__Status:hover {
  cursor: pointer;
}

.TodoItem__Delete {
  margin-right: 10px;
  color: var(--dark);
  opacity: .6;
}
.TodoItem__Delete:hover {
  cursor: pointer;
}

.TodoItem__Delete:active {
  animation: Shake .2s;
}

@keyframes Shake {
  0% {
    transform: rotate(-10deg);
  }

  50% {
    transform: rotate(10deg);
  }

  100% {
    transform: rotate(-10deg);}
}

@keyframes ZoomIn {
  0% {
    transform: scale(0%)
  }

  100% {
    transform: scale(100%)
  }
}

/* @keyframes ZoomOut {
  100% {
    transform: scale(100%)
  }

  0% {
    transform: scale(0%)
  }
} */